<div class="container">
  <app-dashboard-toolbar
    (changeUserEvent)="getUserTasks($event)"
    (newTaskEvent)="addNewTask($event)"
  ></app-dashboard-toolbar>

  <div
    style="
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 20px;
    "
  >
    <div class="example-container">
      <h2>To do</h2>

      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[doneList, inprogressList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="example-box"
          *ngFor="let task of todo"
          cdkDrag
          [cdkDragData]="task"
          (click)="openDialogEditTask(task)"
        >
          <app-task-content [task]="task"></app-task-content>
        </div>
      </div>
    </div>

    <div class="example-container">
      <h2>In Progress</h2>

      <div
        cdkDropList
        #inprogressList="cdkDropList"
        [cdkDropListData]="inprogress"
        [cdkDropListConnectedTo]="[todoList, doneList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="example-box"
          *ngFor="let task of inprogress"
          cdkDrag
          [cdkDragData]="task"
          (click)="openDialogEditTask(task)"
        >
          <app-task-content [task]="task"></app-task-content>
        </div>
      </div>
    </div>

    <div class="example-container">
      <h2>Done</h2>

      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[todoList, inprogressList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="example-box"
          *ngFor="let task of done"
          cdkDrag
          [cdkDragData]="task"
          (click)="openDialogEditTask(task)"
        >
          <app-task-content [task]="task"></app-task-content>
        </div>
      </div>
    </div>
  </div>
</div>
