<div class="container">
  <form [formGroup]="registerForm">
    <p>
      <mat-form-field class="form-field">
        <mat-label>Name:</mat-label>
        <input matInput name="name" formControlName="name" />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Username:</mat-label>
        <input matInput name="username" formControlName="username" />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="form-field">
        <mat-label>Password:</mat-label>
        <input matInput name="password" formControlName="password" />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="form-field">
        <mat-label>email:</mat-label>
        <input matInput name="email" formControlName="email" />
      </mat-form-field>
    </p>
    <p *ngFor="let message of errorMessages" style="color: #b71c1c">
      {{ message }}
    </p>
    <div>
      <button mat-raised-button color="primary" (click)="back()">Back</button>
      <button mat-raised-button color="primary" (click)="register()">
        Register
      </button>
    </div>
  </form>
</div>
